<html>
    <head>
        <title>Postboard</title>
        <link rel="stylesheet" href="{{url_for('static', filename="css/styles.css")}}">
    </head>
    <body>
        <h1 class="board-title">GVSU Computing Club Board</h1>
        <div class="submit-container">
            <h2 class="submit-header">Submit new post</h2>
            <form action="/new" method="post">
                <p>Title: <input type="text" name="title" required
                    minlength="1" maxlength="64"></p>
                <p>Author: <input type="text" name="author" required
                    minlength="1" maxlength="64"></p>
                <p>Message:</p>
                <textarea name="body" required rows="5" cols="80"
                    minlength="1" maxlength="256"></textarea>
                <p><input class="submit-btn" type="submit" value="Submit Post"></p>
            </form>
        </div>
        <div class="post-container">
            {% for post in posts %}
            <div class="post">
                <h3 class="title">{{ post.title }}</h3>
                <p class="author">Author: {{ post.author }}</p>
                <p class="time">{{ post.timestamp }}</p>
                <p class="message">{{ post.body }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
